<center>
	<h1>Physician Details </h1>

				<%= form_tag(physicians_path ,method:'GET' ) do  %>
    	 			<%= text_field_tag(:search, params[:search]) %>
    	  			<%= submit_tag("Search", name: nil) %></p>
				<% end %>
<table  class="table table-hover">
		<tr><th>Name</th><th>Age </th><th>Experience</th><th>Actions</th></tr>
	
		<% @phy.each do |p| %>
			<tr>
				
				<td><%= link_to p.name , appointments_path(id: p.id , name: "physician" ) %></td>
				<td> <%= p.age %></td>
				<td><%= p.experiance %></td>
				
				<td>
					<button class="btn btn-info"><%= link_to "show" , physician_path(p) %> </button> 
					<button class="btn btn-info"><%= link_to "edit" , edit_physician_path(p) %> </button>
 					<button class="btn btn-warning"><%= link_to 'delete',physician_path(p) , method:'DELETE' %></button>

 					<% if p.patient_account.nil? %>
						<button class="btn btn-success"><%= link_to 'generate number', generate_number_physician_physician_path(p)  %></button>
					<% end %>	
 					 	
 					 
 				
					
				</td>
			</tr>  
			
			
<%end %>
</table>
<button class="btn btn-info"> <%= link_to "new" , new_physician_path %></button>

</center> 