<table>
		<tr><th>Name</th><th>Age </th><th>Experience</th><th>Actions</th></tr>
	
		<% @phy.each do |p| %>
			<tr>
				<td><%= p.name %></td>
				<td> <%= p.age %></td>
				<td><%= p.experiance %></td>
				
				<td>
					<%= link_to "show" , physician_path(p)  %> 
					 <%= link_to "edit" , edit_physician_path(p) %> 
 					<%= link_to 'delete',physician_path(p) , method:'DELETE' %>
					
				</td>
			</tr>  
			
			
<%end %>
</table>


<p><%= link_to "new" , new_physician_path %></p> 