

	<h2> "<%= @phy.name %>"  Details</h2> 
	
	<table class="table table-hover">
		<tr><td>Name  </td><td>:</td><td> <%= @phy.name %></td></tr>
		<tr><td>Age   </td><td>:</td><td> <%= @phy.age %></td></tr>
		<tr><td>Experiance </td><td>:</td><td> <%= @phy.experiance %></td></tr>
		
	</table>
		<button class="btn btn-info"><%= link_to "Back", physicians_path %> </button>


	<%= form_tag(physician_path ,method:'PATCH' ) do  %>
   		<%= text_field_tag(:search, params[:search]) %>
   		

  		<%= submit_tag "Image" %></p>

  		<span>
   				<% if $status == 1 %>
   					<p> image added sucessfully </p>
   				<% end %>	
   		</span>

	<% end %>

	<%= form_tag comment_physicians_path(@phy) do  %>
		<%= text_field_tag(:comment) %>
		<%= submit_tag "Comment" %>
	<% end %> 


	<table class="table table-hover">
		<tr><th>Comment</th><th>time</th></tr>
		<% @physician_comments.each do |p| %>
			<tr><td><%= p.comment %></td><td><%= p.created_at %></td></tr>
		<% end %>
	</table>	
	

		

