

<h2> <%= @p.name %> Details</h2> 

<table class="table table-hover">
	<tr><td>Name  </td><td>:</td><td> <%= @p.name %></td></tr>
	<tr><td>Age   </td><td>:</td><td> <%= @p.age %></td></tr>
	<tr><td>Phone </td><td>:</td><td> <%= @p.phone %></td></tr>
	<tr><td>Email </td><td>:</td><td> <%= @p.email %></td></tr>
	<tr><td>Gender </td><td>:</td><td> <%= @p.gender %></td></tr>
	<tr><td>Department </td><td>:</td><td> <%= @p.department %></td></tr>
</table>
<button><%= link_to "Back", patients_path %></button>
</br>
</br>



<%= form_tag(patient_path ,method:'PATCH' ) do  %>
		<span><%= text_field_tag(:search, params[:search]) %></span>
		<%= submit_tag("Add image", name: nil) %></p>

			
		<span>
		
				<% if $status == 1 %>
					<p> image added sucessfully </p>
				<% end %>	
		</span>
<% end %>


	<%= form_tag comment_patients_path(@p) do  %>
		<%= text_field_tag(:comment) %>
		<%= submit_tag("comment") %>
	<% end %> 


<h2>Chat list</h2>
<table>
	<tr><th>Comment</th><th>time</th></tr>
	<% @comments.each do |p| %>
		<tr><td><%= p.comment %></td><td><%= p.created_at %></td></tr>
	<% end %>
</table>		





