


<%= form_for @appointment do |f| %>
		<% if @appointment.errors.any? %>
			<% @appointment.errors.full_messages.each do |error| %>
				<%= error %></br>
	    	<% end %>
	 	<% end %>

	
		<h2>Enter Appointment Details</h2>

		<div class="form-group">
		    <label for="exampleInputEmail1">Appointment Date :</label>
		    <%= f.date_field :a_date ,class: "form-control" %>
		</div>
		<div class="form-group">
		    <label for="exampleInputEmail1">Fee:</label>
		    <%= f.number_field :fee ,class: "form-control" ,placeholder: "fee" %>
		</div>
		<div class="form-group">
		    <label for="exampleInputEmail1">Physician:</label>
		    <%=  f.select("physician_id", Physician.all.collect {|p| [ p.name, p.id ] }, { include_blank: true } , {class: "form-control"}) %>
		</div>
		<div class="form-group">
		    <label for="exampleInputEmail1">Patient:</label>
		    <%= f.select("patient_id", Patient.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {class: "form-control"}) %>
		</div>
		<%= f.submit class: "btn btn-primary" %>
	
<% end %>